
<form class = "movie-form" method = "post" action = "/addmovie">
    <label for = "movie-name">
      Movie Name
    </label>
    <input type = "text" id = "movie-name" name = "name">
   
    <label for = "movie-genre">
      Genre
    </label>
    <input type = "text" id = "movie-genre" name = "genre">
    
    <label for = "movie-cast">
      Casts
    </label>
    <input type = "text" id = "movie-cast" name = "cast">
    
     <label for = "movie-desc">
      Description
    </label>
    <textarea id = "movie-desc"></textarea name = "description">
    
    <input type = "submit" values = "Submit" id = "sendBtn">
  </form>
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/addMovie.css" />