
<h1>Movies and Series</h1>
<ol>
  
    <% console.log(movies+"blah") %>
    <% movies.forEach(function(movie){ %>
        <label for = "movie-name">  
            <li>
                <%= movie.name %>
              
            </li>   
        </label>
    
    <% }) %>
    
  

  <li>
    <label for = "movie-genre">
      Lord of the Rings
    </label>
  </li>

  <li>
    <label for = "movie-cast">
      Harry Potter
    </label>
  </li>
  
  <li>
    <label for = "movie-genre">
      Narnia
    </label>
  </li>
  
  <li>
    <label for = "movie-genre">
      Oculus
    </label>
  </li>
  
  <li>
    <label for = "movie-genre">
      Shannara Chronicles
    </label>
  </li>
 </ol>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
<link rel="stylesheet" type="text/css" href="/stylesheets/viewMovies.css" />