<div class = "container">
    <h1>Movies and Series</h1>
    <img src = "https://i.pinimg.com/564x/65/68/b2/6568b2a8cea127c132c0ffb57c538e7d.jpg">
      
         
            
     
           
    <div class = "eachmovie">
      <h2><label for = "each-movie-name">Name: Sherlock</br></h2>
      </label><h3><label for = "each-movie-cast">Cast: Benedict Cumberbatch, Martin Freeman  </label></br>
      <label for = "each-movie-genre">Genre: Crime </label></br>
      <label for = "each-movie-desc">Description: Sherlock is a British crime drama television series based on Sir Arthur Conan Doyle's Sherlock Holmes detective stories. </label></br></h3>
     </div>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />