body {
    background-image: url("https://i.pinimg.com/564x/e3/1c/a2/e31ca2bcfd703c1fd61e672240c659e1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family : Comfortaa;
    font-weight: 900;
    background-position: center;
    background-size: cover;
   }
   
   .movie-form{
     max-width : 500px;
     margin : 2rem auto;
     border : 2px solid #E74C3C;
   /*   background-color : #FF7933; */
     background-color: rgba(23,56,99,0.5);
     opacity: 0.9;
     padding : 2rem;
     color : white;
     border-radius : 5px;
   }
   
   label{
       display :  block;
       padding : 1rem 0 .25rem;
       font-size: 17px ;
   }
   
   input, textarea{
       display : block;
       width : 100%;
       padding : .5rem;
       font-size : 18px;
       font-family : Comfortaa;
       border-radius : 5px;
   }
   
   #sendBtn{
     border : 1;
     background : #260455;
     padding : .5rem;
     color : white;
     margin : 1rem 0;
     width : auto;
     text-transform : uppercase;
     cursor : pointer;
   }
     #sendBtn:hover{
       background : #3375FF;
     }
   